.payment__type {
  display: flex;
  margin: 16px 0 8px;
}

.payment__logo-container {
  box-sizing: border-box;
  padding: 1px;
  width: 32px;
  height: 24px;
  border-radius: 4px;
  background: #f6f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment__logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.payment__card {
  margin: 0 12px 0 8px;
}

.payment__caption {
  color: #a0a0a4;
}
