.shoping-cart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 32px;
}

.shoping-cart__main-section {
  padding: 10px 0 26px;
  display: grid;
  grid-auto-flow: row;
  row-gap: 40px;
}

.shoping-card__section {
  display: grid;
  grid-auto-flow: row;
  row-gap: 16px;
}

.shoping-cart__list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.shoping-cart__item {
  padding-top: 12px;
}

.shoping-cart__item:first-child {
  padding-top: 11px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.shoping-cart__title {
  margin: 0 0 11px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: -0.01em;
}

.shoping-cart__dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shoping-cart__select-all {
  display: flex;
}

.shoping-cart__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.shoping-cart__checkbox-label {
  position: relative;
  bottom: 2.5px;
  margin-left: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.shoping-cart__dropdown-button {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 20px;
  color: #9797af;
  background: inherit;
}
