.shoping-cart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 32px;
}

.shoping-cart__main-section {
  padding: 10px 0 26px;
  display: grid;
  grid-auto-flow: row;
  row-gap: 40px;
}

.shoping-card__section {
  display: grid;
  grid-auto-flow: row;
  row-gap: 16px;
}

.shoping-cart__list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.shoping-cart__title {
  margin: 0 0 11px;
}

.shoping-cart__dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shoping-cart__select-all {
  display: flex;
}

.shoping-cart__checkbox-label {
  position: relative;
  bottom: 2.5px;
  margin-left: 11px;
}

.shoping-cart__dropdown-button {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 20px;
  color: #9797af;
  background: inherit;
}
