.header {
  color: white;
}

.header__nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: min-content;
  align-items: center;
  column-gap: 32px;
  padding: 16px 20px 16px 24px;
}

.header__left-section {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: max-content;
  align-items: center;
  column-gap: 16px;
}

.header__logo {
  position: relative;
  top: -3px;
  width: 107px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 86%;
  letter-spacing: 0.02em;
  font-variant: all-small-caps;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 48px;
  width: 48px;
  background: none;
  font-size: 48px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
}

.header__search {
  display: flex;
  flex-direction: column;
}

.header__right-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  align-items: center;
  column-gap: 40px;
}

.header__button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 1px 0 3.5px;
  width: 56px;
  color: white;
  background: none;
  border: none;
}

.header__button-icon {
  font-size: 28px;
}

.header__button-icon.icon-shopping-cart {
  position: relative;
  left: -4px;
}

.header__button-text {
  padding-top: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
}

.header__button-counter {
  top: -3.5px;
  right: 8px;
}

@media screen and (max-width: 767px) {
  .header__nav {
    grid-template-columns: 1fr max-content max-content;
    padding: 14px 13px;
  }

  .header__left-section {
    grid-template-columns: max-content 1fr;
    align-items: center;
  }

  .header__right-section {
    column-gap: 32px;
  }

  .header__menu {
    font-size: 28px;
    width: max-content;
    height: max-content;
    border: none;
  }

  .header__menu-icon::before {
    content: "\e90d";
  }

  .header__logo {
    padding: 0 4px;
    width: 100%;
    font-size: 26px;
    line-height: 92%;
  }

  .header__button {
    padding: 0;
    width: max-content;
  }

  .header__button-text {
    display: none;
  }

  .header__button-icon.icon-shopping-cart {
    left: 0;
  }

  .header__button-counter {
    top: -5px;
    right: -10px;
  }
}

@media screen and (max-width: 479px) {
  .header__nav {
    grid-template-columns: 1fr max-content;
  }

  .header__right-section {
    display: none;
  }
}
