.content {
  background: #f6f6fa;
  border-radius: 24px;
  padding: 24px;
}

.content__h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: -0.01em;
}

.content__h2 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.01em;
}

.content__h3 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.content__h4 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.content__lead {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.content__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.content__text_weight_semibold {
  font-weight: 600;
}

.content__caption {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
}

.content__counter {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  padding: 0 5px 1px;
  min-width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f55123;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
  color: white;
}
