.input {
  display: flex;
  flex-direction: column;
}

.input__label {
  order: 0;
  visibility: hidden;
  color: #9797af;
}

.input__field {
  order: 1;
  margin: 2px 0 3px;
  padding: 0;
  padding-bottom: 3px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input__field::placeholder {
  color: #9797af;
}

.input__field:focus::placeholder {
  visibility: hidden;
}

.input__field:focus {
  outline: none;
}

.input__field:focus + .input__label {
  visibility: visible;
}

.input__field_type_error {
  color: #f55123;
  border-color: #f55123;
}

.input__caption {
  order: 3;
  min-height: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
}

.input__caption_type_error {
  color: #f55123;
}

@media screen and (max-width: 479px) {
  .input__label {
    font-size: 12px;
    line-height: 117%;
  }

  .input {
    margin-top: 3px;
  }
}
