.card-order {
  display: grid;
  grid-auto-flow: row;
  row-gap: 24px;
  padding: 16px 24px 24px;
  height: max-content;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.card-order__price-container {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  row-gap: 8px;
}

.card-order__title {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  column-gap: 30px;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.01em;
}

.card-order__price-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-order__price-item {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.card-order__delivery {
  display: grid;
  grid-auto-flow: row;
}

.card-order__delivery-title {
  display: flex;
  justify-content: space-between;
  margin: 0 0 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.card-order__delivery-title button {
  margin: 0;
  padding: 0;
  border: none;
  background: white;
  font-size: 20px;
  color: #cb11ab;
}

.card-order__address {
  margin: 0 0 4px;
}

.card-order__date {
  margin: 0;
  padding: 0;
  border: 0;
  width: max-content;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #cb11ab;
  text-decoration: underline dashed;
  text-underline-offset: 3px;
  background: inherit;
}

.card-order__return {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  column-gap: 8px;
  margin-top: 12px;
  padding: 8px 8px 12px;
  width: 100%;
  background: #f6f6fa;
  border-radius: 8px;
}

.card-order__return-icon {
  font-size: 22px;
  color: #0cb477;
}

.card-order__return-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
}

.card-order__return-price {
  color: #0cb477;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.card-order__payment-title {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.card-order__payment-title button {
  margin: 0;
  padding: 0;
  border: none;
  background: white;
  font-size: 20px;
  color: #cb11ab;
}

.card-order__payment-type {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 12px;
}

.card-order__payment-logo {
  box-sizing: border-box;
  padding: 1px;
  width: 32px;
  height: 24px;
  border-radius: 4px;
  background: #f6f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-order__payment-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-order__payment-card {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
}

.card-order__payment-option {
  display: grid;
  grid-auto-flow: row;
  row-gap: 8px;
  padding: 8px 8px 12px;
  background: #f6f6fa;
  border-radius: 8px;
}

.card-order__payment-immediately {
  display: flex;
  align-items: center;
}

.card-order__checkbox-label {
  margin-left: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
}

.card-order__payment-description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
}

.card-order__button-section {
  display: grid;
  grid-auto-flow: row;
  row-gap: 12px;
}

.card-order__button {
  width: 100%;
  padding: 7.5px 32px 12.5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: white;
  background: #cb11ab;
  border: none;
  border-radius: 8px;
}

.card-order__policy {
  position: relative;
  margin: 0;
  padding-left: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
}

.card-order__policy .icon-checkbox {
  position: absolute;
  top: -2px;
  left: -5px;
  font-size: 22px;
  text-decoration: none;
}

.card-order__policy span {
  text-decoration: underline rgba(0, 0, 0, 0.1);
  text-underline-offset: 4px;
}
