.card {
  display: grid;
  grid-auto-flow: row;
  padding: 16px 24px 24px;
  height: max-content;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.card__title-section {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
