.card {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  row-gap: 16px;
  padding: 16px 24px 24px;
  height: max-content;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.card__title-section {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  column-gap: 10px;
}

.card__change {
  margin: 0;
  padding: 0;
  border: none;
  color: #cb11ab;
  background: inherit;
}

@media screen and (max-width: 479px) {
  .card {
    padding: 16px 16px 24px;
  }

  .card__title {
    font-size: 20px;
    line-height: 140%;
  }
}
