.delivery__list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 16px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.delivery__item {
  display: grid;
  grid-template-columns: 153px 1fr;
  column-gap: 32px;
}

.delivery__address {
  margin-bottom: 4px;
}

.delivery__address-info {
  display: flex;
  align-items: center;
}

.delivery__address-raiting {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.delivery__address-icon {
  font-size: 12px;
  color: #ff970d;
}

.delivery__product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  column-gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.delivery__product {
  position: relative;
}

.delivery__image-container {
  position: relative;
  width: 40px;
  height: min-content;
  border-radius: 8px;
  overflow: hidden;
}

.delivery__image-container::before {
  display: block;
  content: "";
  width: 100%;
  height: 0;
  padding-top: calc(56 / 40 * 100%);
}

.delivery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery__product-counter {
  top: -8px;
  right: -4px;
}

.delivery__return {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 8px;
  margin-top: 8px;
}

.delivery__return-icon {
  font-size: 22px;
  background: linear-gradient(224.84deg, #0cd38b 26.09%, #0cb477 105.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delivery__return-price {
  color: #0cb477;
  text-decoration: underline dashed rgba(12, 180, 119, 0.2);
  text-underline-offset: 3px;
}

@media screen and (max-width: 479px) {
  .delivery__item {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
  }

  .delivery__product-list {
    margin-top: 12px;
    margin-bottom: 8px;
  }

  .delivery__return {
    margin-top: 0;
  }
}
